.container {
  width: 70vw;
  height: 90vh;
  overflow: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 48% 48%;
  column-gap: 2%;
}

.grid-item-1 {
  padding: 10px;
  font-size: 30px;
  text-align: center;
  grid-column: 1;
}
.grid-item-2 {
  padding: 10px;
  font-size: 30px;
  text-align: center;
  grid-column: 2;
}

.box-buttons {
  display: flex;
  justify-content: right;
}
