.table-container {
  display: flex;
  justify-content: center;
}

.table {
  display: grid;
  grid-gap: 8px; /* Define o espaçamento entre as células */
  background-color: #f0f0f0;
  padding: 16px;
}

.table-row {
  display: grid;
  grid-template-columns: repeat(10, 2fr);
}

.table-cell {
  padding: 8px;
  border: 1px solid #ccc;
}
